infrastructure/.terraform/*
infrastructure/generated/*
infrastructure/.terraform.lock.hcl
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup

temp*

app/src/__pycache__/*
app/stash/*

*.DS_Store
pics/.$architecture.drawio.bkp
